.annonce-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  color: #fe6060;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #fe6060;
  margin-bottom: 10px;
}

p {
  color: #fe6060;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.host-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.host {
  display: flex;
  align-items: center;
}

.host-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #ddd;
}

.host-name {
  font-size: 1.1em;
  font-weight: bold;
  color: #fe6060;
  white-space: pre-wrap;
  text-align: right;
}

.rating {
  font-size: 1.5em;
  color: #fe6060;
  display: flex;
  align-items: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 615px;
  margin: 20px 0;
  overflow: hidden;
}

.slide-img {
  width: 100%;
  height: 590px;
  border-radius: 12px;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: none;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 80px;
  z-index: 1;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.tags ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.tags li {
  background-color: #fe6060;
  padding: 8px 16px;
  border-radius: 20px;
  margin-right: 10px;
  color: white;
}

.star-icon {
  color: #e3e3e3;
}

.star-icon.filled {
  color: #ff6060;
}

.details-container {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  margin-top: 20px;
}

.equipments-dropdown,
.description-dropdown {
  flex: 1;
  border-radius: 5px;
  background-color: #f0f0f0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  color: white;
}

.equipments-dropdown summary,
.description-dropdown summary {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: #fe6060;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 0;
}

.equipments-dropdown ul,
.description-dropdown p {
  margin-top: 0;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
}

.equipments-dropdown ul {
  list-style-type: none;
  padding-left: 15px;
  margin: 0;
}

.equipments-dropdown li {
  margin-bottom: 5px;
  color: #fe6060;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.dropdown-content.open {
  max-height: 100vh;
  margin-bottom: 20px;
}

.collapse-box {
  width: 48%;
}

.collapse-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.host-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .host-desktop {
    display: none; /* Masquer la version desktop */
  }

  .host-mobile {
    display: flex; /* Afficher la version mobile */
    flex-direction: row;
    justify-content: space-between; /* Étoiles à gauche, hôte à droite */
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .host-mobile .rating {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Assurer l'alignement des étoiles à gauche */
  }

  .host-mobile .host {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alignement à droite */
    flex-shrink: 0;
  }

  .host-mobile .host-name {
    font-size: 1.1em;
    font-weight: bold;
    color: #fe6060;
    white-space: nowrap;
    text-align: right;
    margin-right: 10px;
  }

  .host-mobile .host-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ddd;
  }

  .host-mobile .host-name {
    font-size: 1.1em;
    font-weight: bold;
    color: #fe6060;
    white-space: nowrap;
    text-align: right;
    margin-left: 10px;
  }

  .details-container {
    width: 100%;
    flex-direction: column;
  }

  .collapse-box {
    width: 100%;
  }

  .slider {
    height: 415px;
  }
  
  .slide-img {
    height: 395px;
  }
}

@media screen and (min-width: 769px) {

  .h1 {
    text-align: left;
  }
  
  .host-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .host-container {
    display: flex;
    flex-direction: column; /* Permet d'afficher les éléments en colonne */
    align-items: center; /* Centrage de l'image et du texte */
    text-align: center;
  }

  .host {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .host-name {
    font-size: 1.1em;
    font-weight: bold;
    color: #fe6060;
    white-space: nowrap;
    margin-bottom: 5px; /* Ajoute un petit espace sous le nom */
  }

  .host-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-bottom: 10px; /* Ajoute un espace entre la photo et les étoiles */
  }

  .rating {
    display: flex;
    justify-content: center; /* Centrage des étoiles sous la photo */
    margin-top: 5px;
  }
}



