/* About.css */

.about-container {
  max-width: 1340px;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.image-section {
  margin: 20px 0;
}

.featured-image {
  width: 100%;
  border-radius: 12px;
}

.accordion-section {
  margin: 20px 0;
}

.accordion-menu {
  margin-bottom: 10px;
  transition: margin 0.3s ease;
}

.accordion-menu.menu-closed {
  margin-bottom: 20px; /* Marge supplémentaire pour les menus fermés */
}

.accordion-menu.last-menu {
  margin-bottom: 10px; /* Dernier menu sans marge supplémentaire */
}

/* Responsive styles */
@media (max-width: 768px) {
  .about-container {
    padding: 15px;
  }

  .featured-image {
    border-radius: 8px;
  }

  .accordion-menu {
    margin-bottom: 15px; /* Ajustement des marges pour mobile */
  }
}

