.title-dropdown {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: white; /* Texte blanc pour le résumé */
  background-color: #fe6060; /* Fond rouge pour le titre du menu */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 0; /* Supprime la marge entre le titre et le contenu */
  display: flex;
  justify-content: space-between;
}

/* Styles pour le menu déroulant */
/* Style commun pour le menu déroulant des équipements et de la description */
.equipments-dropdown, .description-dropdown {
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    color: white;
    margin-top: 20px;
  }
  
  /* Contenu des menus déroulants avec fond gris clair */
  .equipments-dropdown ul, .description-dropdown p {
    margin-top: 0; /* Supprime la marge entre le contenu et le titre */
    background-color: #f0f0f0; /* Fond gris clair pour le contenu */
    padding: 15px;
    border-radius: 5px;
  }
  
  /* Style spécifique à la liste des équipements */
  .equipments-dropdown ul {
    list-style-type: none;
    padding-left: 15px;
    margin: 0; /* Supprime les marges externes */
  }
  
  .equipments-dropdown li {
    margin-bottom: 5px;
    color: #fe6060; /* Couleur du texte des équipements */
  }

  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .dropdown-content.open {
    max-height: 100vh;
  }

  .arrow-up svg {
    transform: rotate(180deg);
  }